In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore', category=UserWarning)

In [2]:
df_countries = pd.read_csv('./../data/countries.csv')

In [3]:
countries_continent = df_countries['country'].unique()
df_continent_countries = df_countries[df_countries['country'].isin(countries_continent)][['continent', 'country']]
df_continent_countries

    continent         country
0        Asia     Afghanistan
1      Europe         Albania
2      Africa         Algeria
3     Oceania  American Samoa
4      Africa          Angola
..        ...             ...
210    Africa  Western Sahara
211      Asia           Yemen
212    Europe          Zambia
213    Africa        Zimbabwe
214       NaN             NaN

[215 rows x 2 columns]