In [177]:
import pandas as pd
df_countries_extended = pd.read_csv('./data/countries_extended.csv')
df_weather_compressed = pd.read_parquet('./data/weather_compressed.parquet')

In [172]:

mean_values = round(df_weather_compressed.groupby('country', as_index=False)['avg_temp_c'].mean(), 1)
result = df_countries_extended.merge(mean_values, on='country', how='left')
#Verify, that there are no empty values
result[result['avg_temp_c'].isna()][['country', 'avg_temp_c']]

                              country  avg_temp_c
46   Democratic Republic of the Congo         NaN
76                      Guinea-Bissau         NaN
110                             Macau         NaN
149             Republic of the Congo         NaN
197                     United States         NaN

In [178]:
result[['country', 'avg_temp_c']]

               country  avg_temp_c
0          Afghanistan        14.6
1              Albania        14.2
2              Algeria        18.4
3       American Samoa        27.6
4               Angola        25.1
..                 ...         ...
203  Wallis and Futuna        27.3
204     Western Sahara        21.0
205              Yemen        30.5
206             Zambia        23.3
207           Zimbabwe        19.4

[208 rows x 2 columns]

In [175]:
result.to_csv('data/countries_avg_temperatures.csv', index=False)

,country,native_name,iso2,iso3,population,area,capital,capital_lat,capital_lng,region,continent,NAME,avg_temp_c
0,Afghanistan,افغانستان,AF,AFG,26023100.0,652230.0,Kabul,34.526011,69.177684,Southern and Central Asia,Asia,Afghanistan,14.6
1,Albania,Shqipëria,AL,ALB,2895947.0,28748.0,Tirana,41.326873,19.818791,Southern Europe,Europe,Albania,14.2
2,Algeria,الجزائر,DZ,DZA,38700000.0,2381741.0,Algiers,36.775361,3.060188,Northern Africa,Africa,Algeria,18.4
3,American Samoa,American Samoa,AS,ASM,55519.0,199.0,Pago Pago,-14.275479,-170.704830,Polynesia,Oceania,American Samoa,27.6
4,Angola,Angola,AO,AGO,24383301.0,1246700.0,Luanda,-8.827270,13.243951,Central Africa,Africa,Angola,25.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,Wallis and Futuna,Wallis et Futuna,WF,WLF,13135.0,142.0,Mata-Utu,-13.282042,-176.174022,Polynesia,Oceania,Wallis and Futuna Is.,27.3
204,Western Sahara,الصحراء الغربية,EH,ESH,586000.0,266000.0,El Aaiún,27.154512,-13.195392,Northern Africa,Africa,W. Sahara,21.0
205,Yemen,اليَمَن,YE,YEM,25956000.0,527968.0,Sana'a,15.353857,44.205884,Middle East,Asia,Yemen,30.5
206,Zambia,Zambia,ZM,ZMB,15023315.0,752612.0,Lusaka,-15.416449,28.282154,Eastern Africa,Europe,Zambia,23.3
207,Zimbabwe,Zimbabwe,ZW,ZWE,13061239.0,390757.0,Harare,-17.831773,31.045686,Eastern Africa,Africa,Zimbabwe,19.4